*,
::before,
::after{
    margin: 0;
    padding: 0;

    -webkit-tap-highlight-color: transparent;/*清除点击默认的高亮效果*/

    -webkit-box-sizing: border-box;/*以你的border开始计算你的宽度*/

}

body{
    font-size: 14px;
    font-family: "SimSun",sans-serif;/*第二个是手机的一个默认的字体*/
    color: #000;
}
button { 
    border:none; padding:0;margin:0;outline-style:none; 
}
a{
    text-decoration: none;
    color: #000;
}

ul,ol{
    list-style: none;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
input,textarea{
    border: none;
    resize: none;
    outline: none;/*清除选中效果*/
    /*-webkit-appearance: none;*/
}
/* 中心容器 */
.w1000{
    width: 1000px;
    margin:0 auto;
}
.container2{  /*版心 提取 */
    width: 1000px;
    margin:0 auto;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

/* [class^="icon-"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
} */

img{
    vertical-align: middle;
}


