/*
* @Author: Marte
* @Date:   2017-08-15 09:51:26
* @Last Modified by:   Marte
* @Last Modified time: 2017-08-15 09:57:42
*/
  .dr-footer{
        height: 862px;
        padding-top: 45px;
    }
    .dr-footer-top{
        height: 34px;
        background: url(../images/footer_rp.jpg) repeat-x;
    }
    .dr-footer-icon{
        height: 150px;
        padding: 30px 0;
    }
    .dr-footer-icon li{
        float: left;
        width: 80px;
        text-align: center;
        margin:0 31px;
    }
    .dr-footer-icon a{
        display: inline-block;
        color: #666;
        font-size: 14px;
        text-align: center;
    }

    .dr-footer-icon span{
        display: inline-block;
        margin-top: 16px;
        color: #666;
        font-size: 14px;
        text-align: center;
    }
    .footer-icon1{
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../images/icon_footer.png) no-repeat;
        background-position: 0 0;
    }
    .footer-icon1:hover{
        background-position: 0 -60px;
    }
    .footer-icon2{
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../images/icon_footer.png) no-repeat;
        background-position: -60px 0;
    }
    .footer-icon2:hover{
        background-position: -60px -60px;
    }
    .footer-icon3{
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../images/icon_footer.png) no-repeat;
        background-position: -120px 0;
    }
    .footer-icon3:hover{
        background-position: -120px -60px;
    }
    .footer-icon4{
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../images/icon_footer.png) no-repeat;
        background-position: -180px 0;
    }
    .footer-icon4:hover{
        background-position: -180px -60px;
    }
    .footer-icon5{
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../images/icon_footer.png) no-repeat;
        background-position: -240px 0;
    }
    .footer-icon5:hover{
        background-position: -240px -60px;
    }
    .footer-icon6{
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../images/icon_footer.png) no-repeat;
        background-position: -300px 0;
    }
    .footer-icon6:hover{
        background-position: -300px -60px;
    }
    .footer-icon7{
        display: inline-block;
        width: 60px;
        height: 60px;
        background: url(../images/icon_footer.png) no-repeat;
        background-position: -360px 0;
    }
    .footer-icon7:hover{
        background-position: -360px -60px;
    }

    .dr-gray{
        height: 100px;
        padding: 26px 0;
        background-color: #e9e9e9;
    }
    .dr-help{
        height: 48px;
    }
    .dr-help-left .dr-help-top{
        display: inline-block;
        height: 39px;
        line-height: 39px;
        padding-left: 46px;
        background: url(../images/coin_left.png) left center no-repeat;
        color: #797979;
        font-size: 20px;
        margin-right: 48px;
    }
    .dr-help-right p{
        font-size: 12px;
        color: #797979;
        margin-bottom: 6px;
    }
    .dr-black{
        height: 533px;
        padding:56px 0;
        background-color: #797979;
    }
    .dr-black .dr-service{
        font-family: "SimSun";
        font-size: 14px;
        color: #cdcdcd;
        line-height: 22px;
        height: 100px;
    }
    .dr-service li{
        float: left;
        padding: 6px 50px;
        border-left: 2px solid #959292;
    }
    .dr-service li:first-child{
        border:none;
        margin-left: 20px;
    }
    .dr-service h4{
        font-weight: bold;
    }
    .dr-service a{
        display: block;
        color: #cdcdcd;
    }
    .dr-statement{
        text-align: center;
        height: 40px;
        margin-top: 68px;
        font-size: 12px;
        line-height: 20px;
        color: #c9c7c7;
    }
    .dr-statement>p{
        margin: 0;
        font-family: simsun;
    }
    .dr-friendshare{
        height: 104px;
        color: #999898;
        font-size: 12px;
        text-align: center;
        margin-top: 8px;
        padding-bottom: 40px;
    }
    .dr-friendshare span{
        color: #999898;
        font-size: 12px;
        line-height: 12px;
    }
    .dr-friendshare a{
        display: inline-block;
        color: #999898;
        margin:0 6px 4px 6px;
        line-height: 14px;
        font-family: "SimSun";
    }
    .dr-langua{
        font-family: "SimSun";
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
    }
    .dr-langua a{
        color: #cdcdcd;
        font-size: 14px;
    }
    .w1000 li>a{
        font-size: 14px;
    }
    .dr-friendshare>a{
        font-size: 12px;
    }
    /* 底部样式结束 */